
.flex{
  display: flex;
}

.informacao{
  width: 700px;
}

.flex{
  display: flex;
}

.informacao{
  width: 700px;
}

.flex{
  display: flex;
}

.informacao{
  width: 700px;
}

header{
  background-color: rgba(95, 158, 160, 0.459);
  padding: 1px 40px;
}